
.body-container{  
  padding: 50px;
  margin-top: 70px;
  border: 1px solid rgb(137, 137, 246);
  text-align: center;
  background-color: rgb(243, 243, 100);
}

.projects-container, .skills-container, .about-container {
    margin: 10px auto 10px auto;
    background-color:rgb(137, 137, 246);
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}